.App {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 34.5rem;
}

.Game-scores{
  border: 1px solid rgba(40, 234, 221, 0.5);
  border-radius: 1%;
  background-color: burlywood;
  box-shadow: 1px transparent;
}
.Game-scores .first-player{
  color:rgb(244, 76, 10);
  font-size: 20px;
  font-weight: 700;
}
.Game-scores .second-player{
  color:#e5f507;
  font-size: 20px;
  font-weight: 700;
}
.playing-time{
  margin-bottom: 10px;
  border: 1px solid rosybrown;
  background-color: chocolate;
}
.input-title{
 /* background-color: rgba(255, 255, 128, .5); */
 padding: 10px;
 /* margin-top: 20px; */
 /* position: relative; */
}
.input-form{
  /* position: absolute; */
  /* top: 20.6rem; */
  /* background-color: rgba(255, 255, 128, .5); */
  /* width: 80%; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.history-section{
  background-color: beige;
  color: black;
  padding: 1px;
}

.history-section ul li{
  list-style: none;
  text-decoration: none;
}